$primary-green: #2ecc71;

.landing-page {
  margin: 1.5rem 3rem;

  .upper-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .welcome-notes {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem;
      h2 {
        font-size: 3rem;
      }
      .explore-button {
        border-color: $primary-green;
        background-color: transparent !important;
        color: $primary-green;
        padding: 0.5rem 1.5rem;
        margin-top: 1rem;
      }
    }
  }
  .lower-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}