$primary-green: #2ecc71;

.add-article-page {
  margin: 1rem 2rem;
  h2 {
    text-align: center;
  }
  form {
    border: 1px dotted $primary-green;
    margin: 1rem 10rem;
    padding: 1rem 2rem;
    .action-buttons {
      display: flex;
      justify-content: space-between;
  
      .button {
        padding: 1rem 2.5rem;
        font-size: 1rem;
        outline: none;
      }
    }
    .cancel-create-btn {
      background-color: gray;
      color: #000;
      cursor: pointer;
    }
    .submit-article {
      background-color: $primary-green;
      padding: 1rem 2.5rem;
      font-size: 1rem;
    }
  
    .submit-article:focus {
      border-color: $primary-green !important;
      background-color: $primary-green;
      color: white;
      outline: 0 !important;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
  }
}
