.article-page {
  margin: auto;
  width: 70%;

  .article-title {
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);
    font-size: 2rem;
  }
  .other-header {
    display: flex;
    margin-bottom: 2rem;

    .author {
      margin-right: 0.5rem;
      text-transform: capitalize;
      color: black;
      font-weight: bold;
    }
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    a {
      margin-right: 1rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .article-footer {
    display: flex;
    margin-top: 2rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 0;
    button {
      margin-right: 0.5rem;
      border: none;
      outline: none;
      padding: 0.5rem;
    }
  }
}
