name: Author's heaven workflow

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup kernel for react, increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - uses: actions/setup-node@v2
        with:
          node-version: '10'
      - name: Cache npm packages
        uses: actions/cache@v2
        with:
          path: |
            ~/ .npm
            ./node_modules
             ~/ .cache
            ~/ .cache/Cypress
      - run: npm install
      - name: Unit tests
        run: npm run test:ci
      - name: Run cypress tests
        run: npm run test:cypress:ci
      # capture the screenshots on failure
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore
      - uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
